<div class="row">
  <div class="col-md-6">
    <div class="card mt-4">
      <div class="card-body">
        <h5 class="card-title">Carga de Geometrías</h5>
        <form action="" class="form-group">
          <div class="custom-file">
            <input type="file" class="custom-file-input" id="file-input" accept="application/zip">
            <label class="custom-file-label" for="file-input" data-browse="Buscar Shapefile">Haz click para
              elegir un archivo</label>
          </div>
          <div class="mt-2">
          </div>
          <button class="btn btn-primary btn-sm" id="file-input-button" (click)="readZip()">Cargar
            Shapefile</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <button class="btn btn-sm btn-secondary" (click)="previousPage()">Atrás</button>
    <button class="btn btn-sm btn-primary ml-2" type="button" (click)="nextPage()">Siguiente</button>
  </div>
</div>